{{!-- lap --}}

<div class="d-flex justify-content-center mt-2">
        <a href="/admins/add_products" class="btn btn-md btn-outline-primary" role="button"><i class="fa fa-plus"></i> ADD PRODUCT</a>
    </div>
<div class="container-fluid d-none d-lg-block">
    <table class="table table-hover usermanage border border-1">
  <thead>
    <tr>
      <th>PHOTO</th>
      <th>TITLE</th>
      <th>PRICE</th>
      <th>BRAND</th>
      <th>CATEGORY</th>
      <th>SUBCATEGORY</th>
      <th>STOCKS</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}        
        <tr>
            <td><img width="100px" src="https://res.cloudinary.com/dhya4vcls/image/upload/{{thumb}}"></td>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>{{brand}}</td>
            <td>{{category}}</td>
            <td>{{sub_category}}</td>
            <td>{{stocks}}</td>
            <td>
                <a href="/admins/edit_product/{{_id}}" role="button" class="btn btn-primary"><i class="fa fa-edit" title="edit"></i></a>
                <a onclick="return confirm('Are you sure to delete @{{title}} ?')" href="/admins/delete_product/{{_id}}" role="button" class="btn btn-danger"><i class="fa fa-trash" title="delete"></i></a>
            </td>
        </tr> 
    {{/each}}
  </tbody>
</table>
</div>

{{!-- mobile --}}

<div class="container-fluid d-block d-lg-none">
    <table class="table table-hover usermanage border border-1">
    {{#each products}}    
        <tr>
           <th>PHOTO</th> <td><img width="100px" src="https://res.cloudinary.com/dhya4vcls/image/upload/{{thumb}}"></td>
        </tr>
        <tr>
            <th>TITLE</th><td>{{title}}</td>
        </tr>
        <tr>
            <th>PRICE</th><td>{{price}}</td>
        </tr>  
        <tr>
            <th>BRAND</th><td>{{brand}}</td>
        </tr>
        <tr>
            <th>CATEGORY</th><td>{{category}}</td>
        </tr>
        <tr>
            <th>SUBCATEGORY</th><td>{{sub_category}}</td>
        </tr> 
        <tr>
            <th>STOCKS</th><td>{{stocks}}</td>
        </tr> 
        <tr>
            <th>ACTION</th><td>
            <a href="/admins/edit_product/{{_id}}" role="button" class="btn btn-primary"><i class="fas fa fa-edit" title="edit"></i></a>
                <a onclick="return confirm('Are you sure to delete @{{title}} ?')" href="/admins/delete_product/{{_id}}" role="button" class="btn btn-danger"><i class="fa fa-trash" title="delete"></i></a> </td>
        </tr>
    {{/each}}
  </tbody>
</table>
</div>